@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");


*{
    box-sizing: border-box;
}

body {
    background-color: #F3F3E0;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding-top: 3rem;
}

.add{
    background-color: rgb(15, 179, 83);
    border-radius: 3px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    position: fixed;
    font-size: 1rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools{
    background-color:#1147a3;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}


.note .main{
    background-color: #e9f1f9;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea{
    outline: none;
    border: none;
    width: 100%;
    height: 400px;
    font-family: inherit;
    font-size: 1.2rem;
    margin-left: 10px;
}
.note .hidden{
    display: none;
}